{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block title %}个人资料{% endblock %}
{% block main %}
<p>

</p>
<div class="account_nav">
<a href="{{ url_for("account.profile") }}">资料</a>
<a class="now" href="{{ url_for("account.namecard") }}">名片</a>
<a href="{{ url_for("account.change_password") }}">密码</a>
<a href="{{ url_for("account.user_icon") }}">头像</a>
</div>
<form method="POST">
<p>本人姓名 {{ form.name(class="ti")}}</p>
<p>手机号码 {{ form.phone(class="ti")}}</p>
<p>现居城市 {{ form.city(class="ti")}}</p>
<p>详细地址 {{ form.address(class="ti address")}}</p>
<div class="btnw">{{ form.submit(class="button")}}</div>
{{ form.hidden_tag() }}
</form>
{% endblock %}
