{% extends "base.html" %}
{% from "macros/_forms.html" import render_errors %}
{% block title %}找回密码{% endblock %}
{% block main %}
<h2>找回密码</h2>
{{ render_errors(form.email) }}
<div class="page-short-body">
<div class="reg_left">
<label>邮箱地址</label>
</div>
<div class="reg_right">
<form action="{{ url_for('account.forgot_password') }}" method=post>
{{ form.hidden_tag() }}
<div>
<input type="text" value="" class="" name="email" id="lonin" tabindex="1">
 </div>
<div class="gray-text">
一个用于临时登陆的登陆密码将发送到您的邮箱中,请注意查收.
</div>
<div style="margin-top:28px">
<div class="btnw">{{ form.submit(class="button")}}</div>
</div>
</form>
</div>
</div>

<p class="phl32">
<a href="{{ url_for('account.signup') }}">创建帐号</a>
</p>
<p class="phl32">
<a href="{{ url_for('account.login') }}">登陆42IC</a>
</p>
<div class="clear"></div>
{% endblock %}

