<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cn" xml:lang="zh-cn" >
<head>
<title>{% block title %}{% endblock %}42RD电子社区</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('.static', filename='css/Oxygen.css') }}" />
<link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('.static', filename='css/Oxygen_cs.css') }}" />
<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/Oxygen_ie6.css') }}" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/Oxygen_ie7.css') }}" /><![endif]-->
{% block extra_stylesheets %}{% endblock %}

</head>
<body>

<!-- brd-wrap begins -->
<div id="brd-wrap" class="brd">

    <!-- brd-index begins -->
<div id="brd-index" class="brd-page basic-page">
    



<div id="brd-head" class="gen-content">

    <p id="brd-access"><a href="#brd-main">Skip to forum content</a></p>

    <p id="brd-title"><a href="/lbforum/">LBForum</a></p>

    <p id="brd-desc">A forum engine written in Python using Django</p>

</div>



<div id="brd-navlinks" class="gen-content">

    <ul id="brd-navlinks-left">

		<li>
	<a href="/lbforum/">Home</a>
</li>
<li>
	<a href="http://vik.haoluobo.com/lbforum/">SKIN1</a>
</li>
<li>
	<a href="http://vik.haoluobo.com/lbforum2/">SKIN2</a>
</li>


    </ul>

    <ul id="brd-navlinks-right">

        <li>

            <a href="#">搜索</a>

        </li>

        

        <li id="navprofile"><a href="/lbforum/account/">个人中心</a></li>

        <li id="navlogout"><a href="/lbforum/accounts/logout/?next=/lbforum/">退出</a></li>

        

    </ul>

</div>



<div id="brd-visit" class="gen-content">

    <p id="welcome">

        <span>

            

            您好 lyping, <a href='/lbforum/accounts/logout/?next=/lbforum/'>退出</a>

            

        </span>

    </p>

    <p id="visit-links" class="options">

    </p>

</div> 


    <p></p>
    <div class="hr"><hr /></div>
    <!-- brd-main begins -->
<div id="brd-main">
    <div class="main-head">
        <h1 class="hn"><span>LBForum</span></h1>
    </div>


<div class="main-subhead">

    <h2 class="hn"><span>LBForum</span></h2>

    <p class="item-summary"> 

        <span>

            <strong class="info-topics">主题</strong>,

            <strong class="info-posts">文章</strong>, 

            <strong class="info-lastpost">最新文章</strong>

        </span> 

    </p>

</div>

<div class="main-content main-category">

    

    <div id="forum" class="main-item odd main-item1">

        <span class="icon "><!-- --></span>



        <div class="item-subject">

            <h3 class="hn"><a href="/lbforum/forum/lbforum/"><span> LBForum </span></a></h3>

            <p>All About LBForum</p>

        </div>



        <ul class="item-info">

            <li class="info-topics">

                <strong>54 </strong> <span class="label">主题</span>

            </li>

            <li class="info-posts">

                <strong>188 </strong> <span class="label">文章</span>

            </li>

            <li class="info-lastpost">

                <span class="label">最新文章:</span>

                <strong>2011-11-13 23:05</strong> 

                <cite>by redphp</cite>

            </li>

        </ul>

    </div>

    

</div>



<div class="main-subhead">

    <h2 class="hn"><span>Programming</span></h2>

    <p class="item-summary"> 

        <span>

            <strong class="info-topics">主题</strong>,

            <strong class="info-posts">文章</strong>, 

            <strong class="info-lastpost">最新文章</strong>

        </span> 

    </p>

</div>

<div class="main-content main-category">

    

    <div id="forum" class="main-item even main-item1">

        <span class="icon "><!-- --></span>



        <div class="item-subject">

            <h3 class="hn"><a href="/lbforum/forum/python/"><span> Python </span></a></h3>

            <p>Python</p>

        </div>



        <ul class="item-info">

            <li class="info-topics">

                <strong>10 </strong> <span class="label">主题</span>

            </li>

            <li class="info-posts">

                <strong>27 </strong> <span class="label">文章</span>

            </li>

            <li class="info-lastpost">

                <span class="label">最新文章:</span>

                <strong>3 小时, 55 分钟前</strong> 

                <cite>by redphp</cite>

            </li>

        </ul>

    </div>

    

    <div id="forum" class="main-item odd ">

        <span class="icon "><!-- --></span>



        <div class="item-subject">

            <h3 class="hn"><a href="/lbforum/forum/django/"><span> Django </span></a></h3>

            <p>Django</p>

        </div>



        <ul class="item-info">

            <li class="info-topics">

                <strong>6 </strong> <span class="label">主题</span>

            </li>

            <li class="info-posts">

                <strong>17 </strong> <span class="label">文章</span>

            </li>

            <li class="info-lastpost">

                <span class="label">最新文章:</span>

                <strong>2011-11-01 03:50</strong> 

                <cite>by xingqi8</cite>

            </li>

        </ul>

    </div>

    

</div>



<div class="main-subhead">

    <h2 class="hn"><span>Test</span></h2>

    <p class="item-summary"> 

        <span>

            <strong class="info-topics">主题</strong>,

            <strong class="info-posts">文章</strong>, 

            <strong class="info-lastpost">最新文章</strong>

        </span> 

    </p>

</div>

<div class="main-content main-category">

    

    <div id="forum" class="main-item even main-item1">

        <span class="icon "><!-- --></span>



        <div class="item-subject">

            <h3 class="hn"><a href="/lbforum/forum/test_board/"><span> Test board </span></a></h3>

            <p>Feel free to try things out.</p>

        </div>



        <ul class="item-info">

            <li class="info-topics">

                <strong>67 </strong> <span class="label">主题</span>

            </li>

            <li class="info-posts">

                <strong>205 </strong> <span class="label">文章</span>

            </li>

            <li class="info-lastpost">

                <span class="label">最新文章:</span>

                <strong>2011-11-16 20:09</strong> 

                <cite>by mailmeboyzngals</cite>

            </li>

        </ul>

    </div>

    

</div>




</div>
<!-- brd-main ends -->

<!-- forum_qpost -->

<!-- brd-stats begins -->


<div id="brd-stats" class="gen-content">

    <h2 class="hn"><span>Forum statistics</span></h2>

    <ul>

        <li class="st-users">

            <span>注册用户数: <strong>5790 </strong></span>

        </li>

        <li class="st-users">

            <span>最新注册用户: 

                <strong>

                    <a href="/lbforum/user/5836/">

                        asdf

                    </a>

                </strong>

            </span>

        </li>

        <li class="st-activity">

            <span>主题总数: <strong>137</strong></span>

        </li>

        <li class="st-activity">

            <span>文章总数: <strong> 437 </strong></span>

        </li>

    </ul>

</div>


<!-- brd-stats ends -->


<div class="gen-content" id="brd-online">

    <h3 class="hn">

		<span>当前在线 <strong> 2 </strong> ( <strong> 1 </strong> 访客, <strong>1</strong> 注册用户 )</span>

	</h3>

    <p>

         <a href="/lbforum/user/928/">lyping</a> 

	</p>

</div>



<div class="gen-content" id="brd-friend-links">
		<span>友情链接</span> ﻿<a href="http://github.com/vicalloy/LBForum" title="LBForum(github)">LBForum(github)</a>

<a href="http://code.google.com/p/dpress/" title="DPress is a blog engine written in Python using Django">DPress</a>

<a href="http://vik.haoluobo.com/blog/" title="LBForum作者的BLOG">天地一沙鸥</a>


</div>

<div class="hr"><hr /></div>

<div id="brd-about" class="gen-content">

    <p id="copyright">Powered by <strong><a href="http://github.com/vicalloy/LBForum">LBForum</a></strong></p>

    <p id="extensions-used">Copyright &copy; 2010 <a href="http://vik.haoluobo.com/blog/">vicalloy</a></p>

</div>



</div><!-- brd-index ends -->
</div><!-- brd-wrap ends -->

        

	</body>    

</html>
